<div class="col-md-10 offset-md-2 mt-2">
    <div class="alert alert-info">
        <strong>Δηλώνω ρητά και υπεύθυνα ότι κάθε στοιχείο που καταχωρώ είναι
          ακριβές και αληθές. Με δική μου ευθύνη να ενημερώνω και να
          επικαιροποιω τα καταχωρισμένα στοιχεία για τυχόν αλλαγές </strong> <br />
    </div>
    <div class="card">
        <h4 class="card-header">Αιτηση</h4>
        <div class="card-body">
            <form [formGroup]="homeForm" (ngSubmit)="onSubmit()" *ngIf="active">
                <div class="form-group">
                    <label for="title">Λόγος</label>
                    <input type="text" formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
                    <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                        <div *ngIf="f.title.errors.required">απαραιτητο πεδιο</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="title">Φορέας</label>
                    <select formControlName="departments"  
                        [(ngModel)]="dep">
                            <option value=" " >--Επιλέξετε φορέα--</option>
                            <option *ngFor="let dep of department">
                            {{ dep }}
                            </option>
                    </select>
                </div>
                <div class="form-group">
                    <dl-date-time-picker formControlName="date"
                    startView="day"
                    maxView="year"
                    minView="minute"
                    minuteStep="5"
                    [(ngModel)]="selectedDate"
                    >
                    </dl-date-time-picker>
                </div>
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Καταχώρηση
            </button>
            <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
        </form>
    </div>
  </div>
</div>
